<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        
        <property name="hibernate.connection.username"> root</property>
        <property name="hibernate.connection.password"> capoeir0 </property>
        <property name="hibernate.connection.url"> jdbc:mysql://localhost/testeHibernate</property>
        <property name="hibernate.connection.driver_class"> com.mysql.jdbc.Driver </property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="hibernate.hbm2ddl.auto"> update </property>
        <property name="show_sql"> true </property>
        <property name="format_sql"> true </property>
        
        <mapping class="br.com.ordemDeServico.model.entity.Cliente"/>      
        <mapping class="br.com.ordemDeServico.model.entity.Endereco"/>      
        <mapping class="br.com.ordemDeServico.model.entity.Telefone"/>      
        <!-- mapeamento das classes
        
        <mapping class="Tarefa.Herança_Tab_Unica.Pessoa"/>      
        <mapping class="Tarefa.Herança_Tab_Unica.PessoaFisica"/>      
        <mapping class="Tarefa.Herança_Tab_Unica.PessoaJuridica"/>  
        <mapping class="Tarefa.Herança_Tab_Unica.Fone"/>  
        <mapping class="Tarefa.Herança_Tab_Unica.Extend_PF"/>  
           
            
          
        <mapping class="Tarefa.Herança_Classe_Concreta.Pessoa2"/>      
        <mapping class="Tarefa.Herança_Classe_Concreta.PessoaFisica2"/>      
        <mapping class="Tarefa.Herança_Classe_Concreta.PessoaJuridica2"/>      
        <mapping class="Tarefa.Herança_Subclasse.Tel"/>      
        <mapping class="Tarefa.Herança_Subclasse.Pessoa1"/>      
        <mapping class="Tarefa.Herança_Subclasse.PessoaFisica1"/>      
        <mapping class="Tarefa.Herança_Subclasse.PessoaJuridica1"/>    
        -->
    </session-factory>
</hibernate-configuration>