ul#menutt {
width: 160px; 
list-style:none;
font: bold 16px Arial, Verdana, Serif;
}
ul#menutt li{
position:relative;
}
ul#menutt a {
width: 160px;
display: block;
text-align:left;
padding: 5px 10px;
margin-bottom:1px;
text-decoration: none;
color: #000;
background: #808080;
border-left: 12px solid #4D4D4D;
border-right: 4px solid #4D4D4D;
voice-family: "\"}\"";
voice-family:inherit;
width:130px;
}

/* Nao passou na validacao:

>#pagebody>ul#menutt a {
width:125px;
}

/*

/* Fix IE. Hide from IE Mac \*/
* html ul#menutt li { float: left; height: 1%; }
* html ul#menutt li a { height: 1%; }
/* End */
ul#menutt a:hover {
color: #fff;
background: #4B4B4B;
border-right: 4px solid #616161;
border-left: 12px solid #616161;
}
ul#menutt a span {
display: none;
}
ul#menutt a:hover span {
display: block;
position: absolute;
top:0;
left: 164px;
width: 130px;
padding: 5px;
margin-left:7px;
color: #fff;
background:#616161;
font-size: 10px;
text-align:left;
border:1px solid #000;
}